aniso8601==7.0.0
awscli==1.16.298
botocore==1.13.34
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.1
Django==1.11.29
docutils==0.15.2
futures==3.3.0
graphene==2.1.8
graphene-django==2.9.1
graphql-core==2.3.1
graphql-relay==2.0.1
idna==2.9
jmespath==0.9.4
promise==2.3
pyasn1==0.4.8
python-dateutil==2.8.0
pytz==2020.1
PyYAML==5.1.2
requests==2.23.0
rsa==3.4.2
Rx==1.6.1
s3transfer==0.2.1
singledispatch==3.4.0.3
six==1.13.0
slack-cleaner==0.6.3
slacker==0.14.0
typing==3.7.4.1
urllib3==1.25.7
